body {
  @extend %font-content;
  background-color: $accent;
  color: $text-color;
  padding: 1.6rem 0;
}

.container {
  max-width: 80rem;
  width: 100%;
  padding: 0 1.6rem;
  background-color: $lightest-gray;
  margin: 0 auto;
  height: 100%;
  overflow: auto;

  @media(min-width: 768px) {
    padding: 0 3.2rem;
  }
}

.header {
  padding: 4rem 0;
  border-bottom: 1px solid lighten($secondary, 30%);

  &__logo {
    max-width: 22rem;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
}

.intro {
  padding: 4rem 0;

  &__title {
    margin: 0 0 1rem;
    font-size: 1.8rem;
  }

  &__text {
    margin: 0;
    font-size: 1.6rem;
    text-align: justify;
  }
}

.form {
  &__title {
    font-size: 1.6rem;
    text-align: center;
  }

  &__input-group {
    display: flex;
    justify-content: center;
    align-items: center;

    > * {
      padding: 0 .8rem;
    }
  }

  &__input-wrapper {
    display: inline-block;
  }

  &__input-time {
    font-size: 4rem;
    display: inline-block;
    max-width: 8rem;
    text-align: center;
    padding: 2rem 0;
    border: none;
  }

  &__label {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-top: .8rem;
    display: block
  }

  &__button {
    display: block;
    width: 100%;
    border: none;
    background-color: $primary;
    color: $white;
    height: 2.4rem;

    &:first-of-type {
      border-top-left-radius: .8rem;
      border-top-right-radius: .8rem;
    }

    &:last-of-type {
      border-bottom-left-radius: .8rem;
      border-bottom-right-radius: .8rem;
    }

    &:focus {
      outline: none;
    }
  }

  &__separator {
    font-size: 4rem;
    margin-top: -2.1rem;
  }
}